body {
  margin: 0;
  padding: 0;
  margin-top: 50px;
}
header {
  background: tomato;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
nav {

}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li{
  display: inline-block;
  border-right: 2px solid #fff;
}
nav ul li a{
  color: white;
  display: inline-block;
  padding: 20px;
}
nav ul li a:hover {}


.content_box {
  overflow: hidden;
}
.content {
  float: left;
  width: 70%;
}
aside {
  float: left;
  width: 30%;
}
footer {
  clear: both;
  padding: 20px;
  background: salmon;
  text-align: center;
}

.social_icon {
  padding: 20px;
  font-size: 25px;
  background: blue;
  color: white;
  display: inline-block;
  position: fixed;
  right: 0;
  top: 40%;
}

.social_icon i {

}